@page
@model ESTAPAR.Presentations.WebAPP.RazorPages.Pages.Manobristas.IndexModel
@{
    ViewData["Title"] = "Manobristas";
}

<h4>Manobristas</h4>
<hr />

<div class="row">
    <div class="offset-md-10 col-md-2">
        <a class="btn btn-block btn-outline-primary" asp-page="./Novo">Novo</a>
    </div>
</div>
@if (Model.Manobristas.Count > 0)
{
    <hr />
    <div class="row">
        <div class="col">
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Data de Nascimento</th>
                        <th scope="col" style="width: 32px;"></th>
                        <th scope="col" style="width: 32px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var carro in Model.Manobristas)
                    {
                        <tr>
                            <td scope="row">@carro.ManobristaID</td>
                            <td>@carro.Nome</td>
                            <td>@carro.CPF</td>
                            <td>@carro.DataNascimento.ToShortDateString()   </td>
                            <td><a asp-page="./Editar" asp-route-id="@carro.ManobristaID" title="Editar" class="text-primary"><i class="far fa-edit"></i></a></td>
                            <td><a asp-page="./Excluir" asp-route-id="@carro.ManobristaID" title="Excluir" class="text-danger"><i class="far fa-trash-alt"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="offset-md-10 col-md-2">
            <a class="btn btn-block btn-outline-primary" asp-page="./Novo">Novo</a>
        </div>
    </div>
}

